<!DOCTYPE html>
<html>
    <head>

    <link rel="stylesheet" type="text/css" href="static\chatbot2.css">

    </head>
    <body>
            <div class="container">
                <h3 style="background-color:red">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp____________CHATBOT UI__________</h3>
            </div> 

        <div class="chatbot">
            <div class="chatlogs">
                <div class="chat friend">
                    <div class="user-photo" > <img src="static\raj.JPG"></div>
                    <input type="text" class="chat-message" id="friend"  name="fval">
                </div>
                <div class="chat self">
                        <div class="user-photo"><img src="static\r3.JPG"></div>
                        <input type="text" class="chat-message" id="self"  name="val1">
                </div>
                
                                    
            </div>
            <div class="chat-form">
                <textarea id="message" placeholder="type message"></textarea>
                <button id="chat" onclick="friend()">Send</button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      
    </body>
    <script>

        $('#chat').click(function () {
            console.log("in function");
            $.ajax({
                url: '/api/calc?a=' + document.getElementById('message').value ,
                success: function(data){
                    console.log(data);
                    senddata(data);
                  }
           
            });
        });

        function friend()
        {
            var a=document.getElementById("message").value;
            document.getElementById("friend").value=a;
        }
        function senddata(data)
        {
            document.getElementById("self").value=data;
        }
    </script>    
</html>
