* {
    margin:0;
    padding:0;
    font-family: tahoma, sans-serif;
    box-sizing:border-box; 
}
body {
    background: #1ddced;
}
.chatbot{
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 3px red; 
}
.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x:hidden;
    overflow-y: scroll; 
   
}
.chatlogs::-webkit-scrollbar{
    width: 10px;
}
.chatlogs::-webkit-scrollbar-thumb{
    border-radius:5px;
    background: rgba(0,0,0,1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom:10px; 

}
.chat .user-photo img{
    width: 60px;
    height: 60px;
    background:#ccc;
    border-radius: 50%;
    overflow: hidden;
}
.chat .user-photo {
    width: 100%;
}
.chat .chat-message{
    width:80%;
    padding:15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color:#fff;
    font-size: 20px;
}
.friend .chat-message{
    background: #1adda4;
}
.self .chat-message{
    background: #1ddced;
}
.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.chat-form textarea{
    background: #dfdbe9;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color:#333;
}
.chat-form textarea:focus{
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}
.chat-form textarea::-webkit-scrollbar-thumb{
    border-radius:5px;
    background: rgba(240, 93, 7, 0.1);
}

.chat-form button{
    background: #1ddced;
    padding: 5px 15 px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    -webkit-transition: background .2s ease;
    -moz-transition:background .2s ease;
    -o-transition:background .2s ease;
}
.chat-form button:hover{
    background: #13c8d9;
}